/* CREAR BASE DE DATOS "USUARIOS_DataMart" ANTES DE EJECUTAR ESTE SCRIPT*/
USE [USUARIOS_DataMart]
GO
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_TIPO_USUARIO
	(
	CODIGO_TIPO_USUARIO int NOT NULL,
	TIPO_USUARIO varchar(100) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_TIPO_USUARIO ADD CONSTRAINT
	PK_DIM_TIPO_USUARIO PRIMARY KEY CLUSTERED 
	(
	CODIGO_TIPO_USUARIO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_TIPO_USUARIO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_TIEMPO_USUARIOS
	(
	CODIGO_TIEMPO int NOT NULL,
	DIA int NULL,
	MES int NULL,
	ANIO int NULL,
	FECHA_REGISTRO datetime2(0) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_TIEMPO_USUARIOS ADD CONSTRAINT
	PK_DIM_TIEMPO_USUARIOS PRIMARY KEY CLUSTERED 
	(
	CODIGO_TIEMPO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_TIEMPO_USUARIOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_USUARIOS
	(
	CODIGO_USUARIO int NOT NULL,
	NOMBRE varchar(200) NOT NULL,
	CORREO varchar(100) NOT NULL,
	FECHA_REGISTRO datetime2(0) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_USUARIOS ADD CONSTRAINT
	PK_DIM_USUARIOS PRIMARY KEY CLUSTERED 
	(
	CODIGO_USUARIO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_USUARIOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.HECHOS_DATOS_USUARIOS
	(
	CODIGO_USUARIO int NOT NULL,
	CANTIDAD_CONFIGURACIONES int NOT NULL,
	INGRESOS_X_USUARIO int NOT NULL,
	CODIGO_TIPO_USUARIO int NOT NULL,
	CANTIDAD_INTERESES int NOT NULL,
	CODIGO_TIEMPO int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.HECHOS_DATOS_USUARIOS ADD CONSTRAINT
	FK_HECHOS_DATOS_USUARIOS_DIM_TIEMPO_USUARIOS FOREIGN KEY
	(
	CODIGO_TIEMPO
	) REFERENCES dbo.DIM_TIEMPO_USUARIOS
	(
	CODIGO_TIEMPO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_DATOS_USUARIOS ADD CONSTRAINT
	FK_HECHOS_DATOS_USUARIOS_DIM_USUARIOS FOREIGN KEY
	(
	CODIGO_USUARIO
	) REFERENCES dbo.DIM_USUARIOS
	(
	CODIGO_USUARIO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_DATOS_USUARIOS ADD CONSTRAINT
	FK_HECHOS_DATOS_USUARIOS_DIM_TIPO_USUARIO FOREIGN KEY
	(
	CODIGO_TIPO_USUARIO
	) REFERENCES dbo.DIM_TIPO_USUARIO
	(
	CODIGO_TIPO_USUARIO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_DATOS_USUARIOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_CATEGORIAS
	(
	CODIGO_CATEGORIA int NOT NULL,
	NOMBRE_CATEGORIA varchar(100) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_CATEGORIAS ADD CONSTRAINT
	PK_DIM_CATEGORIAS PRIMARY KEY CLUSTERED 
	(
	CODIGO_CATEGORIA
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_CATEGORIAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_NOTICIAS
	(
	CODIGO_NOTICIA int NOT NULL,
	AUTOR_NOTICIA varchar(300) NOT NULL,
	TITULO_NOTICIA varchar(250) NOT NULL,
	FECHA_PUBLICACION datetime2(7) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_NOTICIAS ADD CONSTRAINT
	PK_DIM_NOTICIAS PRIMARY KEY CLUSTERED 
	(
	CODIGO_NOTICIA
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_NOTICIAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DIM_TIEMPO_NOTICIAS
	(
	CODIGO_TIEMPO int NOT NULL,
	DIA int NOT NULL,
	MES int NOT NULL,
	ANIO int NOT NULL,
	FECHA_PUBLICACION datetime2(0) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DIM_TIEMPO_NOTICIAS ADD CONSTRAINT
	PK_DIM_TIEMPO_NOTICIAS PRIMARY KEY CLUSTERED 
	(
	CODIGO_TIEMPO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DIM_TIEMPO_NOTICIAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.HECHOS_IMPACTO_NOTICIA
	(
	CODIGO_NOTICIA int NOT NULL,
	CODIGO_TIEMPO int NOT NULL,
	CODIGO_CATEGORIA int NOT NULL,
	COMENTARIOS_X_NOTICIA int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.HECHOS_IMPACTO_NOTICIA ADD CONSTRAINT
	FK_HECHOS_IMPACTO_NOTICIA_DIM_NOTICIAS FOREIGN KEY
	(
	CODIGO_NOTICIA
	) REFERENCES dbo.DIM_NOTICIAS
	(
	CODIGO_NOTICIA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_IMPACTO_NOTICIA ADD CONSTRAINT
	FK_HECHOS_IMPACTO_NOTICIA_DIM_TIEMPO_NOTICIAS FOREIGN KEY
	(
	CODIGO_TIEMPO
	) REFERENCES dbo.DIM_TIEMPO_NOTICIAS
	(
	CODIGO_TIEMPO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_IMPACTO_NOTICIA ADD CONSTRAINT
	FK_HECHOS_IMPACTO_NOTICIA_DIM_CATEGORIAS FOREIGN KEY
	(
	CODIGO_CATEGORIA
	) REFERENCES dbo.DIM_CATEGORIAS
	(
	CODIGO_CATEGORIA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HECHOS_IMPACTO_NOTICIA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

