USE [USUARIOS_DataMart]
GO
/****** Object:  Table [dbo].[DIM_HISTORIAL_ACCESOS]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_HISTORIAL_ACCESOS](
	[CODIGO_USUARIO] [int] NOT NULL,
	[FECHA_ACCESO] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_LUGARES]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_LUGARES](
	[CODIGO_LUGAR] [int] NOT NULL,
	[CODIGO_LUGAR_PADRE] [int] NOT NULL,
	[CODIGO_TIPO_LUGAR] [int] NOT NULL,
	[NOMBRE_LUGAR] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DIM_LUGARES] PRIMARY KEY CLUSTERED 
(
	[CODIGO_LUGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_TIEMPO]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIEMPO](
	[CODIGO_TIEMPO] [int] NOT NULL,
	[DIA] [int] NOT NULL,
	[MES] [int] NOT NULL,
	[ANIO] [int] NOT NULL,
 CONSTRAINT [PK_DIM_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_TIEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_TIPO_LUGAR]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_TIPO_LUGAR](
	[CODIGO_TIPO_LUGAR] [int] NOT NULL,
	[TIPO_LUGAR] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DIM_TIPO_LUGAR] PRIMARY KEY CLUSTERED 
(
	[CODIGO_TIPO_LUGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_TIPOS_USUARIO]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_TIPOS_USUARIO](
	[CODIGO_TIPO_USUARIO] [int] NOT NULL,
	[TIPO_USUARIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DIM_TIPOS_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_USUARIOS]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_USUARIOS](
	[CODIGO_USUARIO] [int] NOT NULL,
	[CODIGO_TIPO_USUARIO] [int] NOT NULL,
	[NOMBRE_USUARIO] [varchar](200) NOT NULL,
	[URL_FOTO_PERFIL] [varchar](300) NOT NULL,
	[FECHA_REGISTRO] [nchar](10) NULL,
 CONSTRAINT [PK_DIM_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HECHOS_ORIGEN_USUARIOS]    Script Date: 26/04/2018 16:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_ORIGEN_USUARIOS](
	[CODIGO_USUARIO] [int] NOT NULL,
	[CODIGO_TIEMPO] [int] NOT NULL,
	[CODIGO_LUGAR] [int] NOT NULL,
	[TOTAL_USUARIOS_REGISTRADOS] [int] NOT NULL,
	[TOTAL_TIPOS_USUARIOS_REGISTRADOS] [int] NOT NULL,
	[USUARIOS_LUGAR] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIM_LUGARES]  WITH CHECK ADD  CONSTRAINT [FK_DIM_LUGARES_DIM_LUGARES] FOREIGN KEY([CODIGO_LUGAR_PADRE])
REFERENCES [dbo].[DIM_LUGARES] ([CODIGO_LUGAR])
GO
ALTER TABLE [dbo].[DIM_LUGARES] CHECK CONSTRAINT [FK_DIM_LUGARES_DIM_LUGARES]
GO
ALTER TABLE [dbo].[DIM_LUGARES]  WITH CHECK ADD  CONSTRAINT [FK_DIM_LUGARES_DIM_TIPO_LUGAR] FOREIGN KEY([CODIGO_LUGAR_PADRE])
REFERENCES [dbo].[DIM_TIPO_LUGAR] ([CODIGO_TIPO_LUGAR])
GO
ALTER TABLE [dbo].[DIM_LUGARES] CHECK CONSTRAINT [FK_DIM_LUGARES_DIM_TIPO_LUGAR]
GO
ALTER TABLE [dbo].[DIM_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_DIM_USUARIOS_DIM_TIPOS_USUARIO] FOREIGN KEY([CODIGO_TIPO_USUARIO])
REFERENCES [dbo].[DIM_TIPOS_USUARIO] ([CODIGO_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[DIM_USUARIOS] CHECK CONSTRAINT [FK_DIM_USUARIOS_DIM_TIPOS_USUARIO]
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_LUGARES] FOREIGN KEY([CODIGO_LUGAR])
REFERENCES [dbo].[DIM_LUGARES] ([CODIGO_LUGAR])
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS] CHECK CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_LUGARES]
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_TIEMPO] FOREIGN KEY([CODIGO_TIEMPO])
REFERENCES [dbo].[DIM_TIEMPO] ([CODIGO_TIEMPO])
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS] CHECK CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_TIEMPO]
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_USUARIOS] FOREIGN KEY([CODIGO_USUARIO])
REFERENCES [dbo].[DIM_USUARIOS] ([CODIGO_USUARIO])
GO
ALTER TABLE [dbo].[HECHOS_ORIGEN_USUARIOS] CHECK CONSTRAINT [FK_HECHOS_ORIGEN_USUARIOS_DIM_USUARIOS]
GO
